@import "../../css/units.css";
@import "../../css/colors.css";
@import "../../css/z-index.css";

.code-editor-wrapper {
    display: flex;
    flex-grow: 1;
    flex-basis: 0;
    min-height: 0;
    border: 1px solid $ui-black-transparent;
    border-radius: 0.5rem;
}


.stage-menu-wrapper {
    display: flex;
    margin: auto;
    justify-content: space-between;
    flex-shrink: 0;
    align-items: center;
    height: $stage-menu-height;
    padding-top: $space;
    padding-bottom: $space;
    font-size: 0.75rem;
}

.upload-group{
    display: flex;
    margin-right: .2rem;
}

.stage-size-toggle-group {
    display: flex;
    margin-right: .2rem;
}

.upload-button {
    display: block;
    border: 1px solid $ui-black-transparent;
    border-radius: $form-radius;
    /* width: calc(2rem + 2px); */
    height: calc(2rem + 2px);
    background: $ui-white;
    padding: 0.375rem;
    user-select: none;
    cursor: pointer;
}

.stage-button {
    display: block;
    border: 1px solid $ui-black-transparent;
    border-radius: $form-radius;
    width: calc(2rem + 2px);
    height: calc(2rem + 2px);
    background: $ui-white;
    padding: 0.375rem;
    user-select: none;
    cursor: pointer;
}

.stage-button-icon {
    width: 100%;
    height: 100%;
}

.upload-icon{
    width: 100%;
    height: 100%;
}

.stage-button-last {
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.stage-button-toggled-off {
    filter: saturate(0);
}
